<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <title>BoCo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      .balance {
        position: absolute;
        right: .5em;
        top: .75em;
        color: white;
      }

      .contributions {
        padding-bottom: 0;
      }
    </style>
  </head>
  <body>
    <nav class="navbar is-primary is-fixed-top">
      <div class="navbar-brand">
        <h1 class="navbar-item title">
          BoCo
        </h1>
      </div>
      <div class="balance navbar-item">
        {{balance}} €
      </div>
    </nav>

    {{#if contributions}}
      <section class="section contributions">
        <h1 class="title">Contributions</h1>
        {{#each contributions}}
          <div><strong>{{name}}</strong> should add {{value}} €</div>
        {{/each}}
      </section>
    {{/if}}

    <section class="section">
      {{#if contributions}}
      <h1 class="title">Configuration</h1>
      {{/if}}

      <form action="/" method="post">
        {{#each wages}}
          <div class="field">
            <label class="label">{{name}}</label>
            <input class="input"type='number' value={{value}} name='wage-{{name}}' />
          </div>
        {{/each}}
        <div class="field">
          <label class="label">Rent</label>
          <div class="control">
            <input class="input"type='number' value={{rent}} name='rent' />
          </div>
        </div>
        <div class="field">
          <label class="checkbox">
            <input class="checkbox"type='checkbox' checked name='monthly' />
            This is a montly addition
          </label>
        </div>
        <div class="field">
          <label class="label">Wanted balance</label>
          <input class="input"type='number' value={{wantedBalance}} name='wanted-balance'>
        </div>

        <button class="button is-link" type="submit">Send</button>
      </form>
    </section>
  </body>
</html>
