<html>
  <head>
    <title>BoCo</title>
  </head>
  <body>
    {{#if contributions}}
      <div class="contributions">
        <h1>Contributions</h1>
        {{#each contributions}}
          <div class="contribution">{{name}} should add {{value}} €</div>
        {{/each}}
      </div>
    {{/if}}

    <div class="configuration">
      {{#if contributions}}
      <h1>Configuration</h1>
      {{/if}}

      <div class="balance">
        <label>Current balance is</label>
        <span>{{balance}} €</span>
      </div>

      <form action="/" method="post">
        {{#each wages}}
          <div class="wage">
            <label>{{name}}</label>
            <input type='number' value={{value}} name='wage-{{name}}' />
          </div>
        {{/each}}
        <div class="rent">
          <label>Rent</label>
          <input type='number' value={{rent}} name='rent' />
        </div>
        <div class="monthly">
          <input type='checkbox' checked name='monthly' />
          <label>This is a montly addition</label>
        </div>
        <div class="wanted-balance">
          <label>Wanted balance</label>
          <input type='number' value={{wantedBalance}} name='wanted-balance'>
        </div>

        <button class="submit-configuration" type="submit">Send</button>
      </form>
    </div>
  </body>
</html>
